
<PageHeader>@title</PageHeader>
@if (matches == null || !ResultsPosted)
{
    <ResultsNotPosted />
}
else
{
    <MudSimpleTable Dense="true" Bordered="true" Striped="true" Style="width:45rem">
        <thead>
            <tr>
                <th colspan="3">Matches</th>
                <th colspan="3">Points</th>
                <th colspan="5">Money</th>
            </tr>
            <tr>
                <th>#</th>
                <th class="nameCol">Players</th>
                <th class="hcpCol">Hcp</th>
                <th>Front</th>
                <th>Back</th>
                <th>Total</th>
                <th>Front</th>
                <th>Back</th>
                <th>18</th>
                <th>Team</th>
                <th class="moneyCol">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in matches)
            {
                <tr>
                    <td rowspan="4">@match.MatchNumber</td>
                    <td class="nameCol">@match.Team1.Player1.Name</td>
                    <td class="hcpCol">@match.Team1.Player1.Hcp</td>
                    <td rowspan="2">@match.Team1.Points.Front</td>
                    <td rowspan="2">@match.Team1.Points.Back</td>
                    <td rowspan="2">@match.Team1.Points.Total</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team1.Player1.MoneyFront)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team1.Player1.MoneyBack)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team1.Player1.Money18)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team1.Player1.MoneyTeam)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team1.Player1.MoneyTotal)</td>
                </tr>
                <tr>
                    <td class="nameCol">@match.Team1.Player2.Name</td>
                    <td class="hcpCol">@match.Team1.Player2.Hcp</td>
                </tr>

                <tr>
                    <td class="nameCol">@match.Team2.Player1.Name</td>
                    <td class="hcpCol">@match.Team2.Player1.Hcp</td>
                    <td rowspan="2">@match.Team2.Points.Front</td>
                    <td rowspan="2">@match.Team2.Points.Back</td>
                    <td rowspan="2">@match.Team2.Points.Total</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team2.Player1.MoneyFront)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team2.Player1.MoneyBack)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team2.Player1.Money18)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team2.Player1.MoneyTeam)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team2.Player1.MoneyTotal)</td>
                </tr>
                <tr>
                    <td class="nameCol">@match.Team2.Player2.Name</td>
                    <td class="hcpCol">@match.Team2.Player2.Hcp</td>
                </tr>
            }
        </tbody>

    </MudSimpleTable>
}

@code {
    [Parameter, EditorRequired] public string title { get; set; } = string.Empty;
    [Parameter, EditorRequired] public string key { get; set; } = string.Empty;
    
    [Inject]
    public IDataService dataService { get; set; } = default!;

    private IList<MatchPlayMatch>? matches;

    protected override async Task OnParametersSetAsync()
    {
        matches = await dataService.GetMatchPlayAsync(key);
    }

    private bool ResultsPosted => matches != null;

}
