
<PageHeader>@title</PageHeader>
@if (results == null)
{
    <ResultsNotPosted />
}
else
{
    <MudSimpleTable Dense="true" Bordered="true" Striped="true" Style="width:20rem">
        <thead>
            <tr>
                <th class="nameCol">Name</th>
                <th class="hcpCol">Hcp</th>
                <th class="countCol">#</th>
                <th class="moneyCol">$</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in results.OrderByDescending(r => r.Count))
            {
                <tr>
                    <td class="nameCol">@result.Name</td>
                    <td class="hcpCol">@result.Hcp</td>
                    <td class="countCol">@result.Count</td>
                    <td class="moneyCol">@Utilities.DisplayWinnings(result.Winnings)</td>
                </tr>
            }
        </tbody>

    </MudSimpleTable>
}

@code {
    [Parameter, EditorRequired] public string key { get; set; } = string.Empty;
    [Parameter] public string title { get; set; } = string.Empty;

    [Inject]
    public IDataService dataService { get; set; } = default!;

    private IList<DailyScatsEntry>? results;

    protected override async Task OnParametersSetAsync()
    {
        results = await dataService.GetDailyScatsAsync(key);
    }

}
