@page "/leaderboard"
@using Scotland2025.Application.Leaderboard
<h3>Leaderboard</h3>

@if (leaderboard == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="width:400px; overflow-x:scroll;">
        <FluentDataGrid @ref="grid"
                        Items="@SortedEntries">
            <PropertyColumn Class="posCol" Title="Pos" Property="@(c => Utilities.DisplayPos(c.Pos))" />
            <PropertyColumn Style="width: 120px" Property="@(c => c.Name)" Align="Align.Start" />
            <PropertyColumn Style="width: 100px" Property="@(c => c.Hcp)" />
            <PropertyColumn Style="width: 100px" Title="Total" Property="@(c => Utilities.DisplayNet(c.Pos, c.Total))" />
            <PropertyColumn Style="width: 100px" Title="R1" Property="@(c => Utilities.DisplayNet(c.Pos, c.Round1))" />
            <PropertyColumn Style="width: 100px" Title="R2" Property="@(c => Utilities.DisplayNet(c.Pos, c.Round2))" />
            <PropertyColumn Style="width: 100px" Title="R3" Property="@(c => Utilities.DisplayNet(c.Pos, c.Round3))" />
            <PropertyColumn Style="width: 100px" Title="R4" Property="@(c => Utilities.DisplayNet(c.Pos, c.Round4))" />
            <PropertyColumn Style="width: 100px" Title="R5" Property="@(c => Utilities.DisplayNet(c.Pos, c.Round5))" />
            <PropertyColumn Style="width: 120px" Title="$" Property="@(c => Utilities.DisplayWinnings(c.Winnings))" />
        </FluentDataGrid>
    </div>
}

@code {
    [Inject]
    private ISender Sender { get; set; } = default!;
    FluentDataGrid<LeaderboardEntry>? grid;

    private Leaderboard? leaderboard;

    protected override async Task OnInitializedAsync()
    {
        var getLeaderboardQuery = new GetLeaderboardQuery();
        var result = await Sender.Send(getLeaderboardQuery);
        if (result.IsError)
        {
            // Handle error here
            return;
        }

        leaderboard = result.Value;
    }

    IQueryable<LeaderboardEntry>? SortedEntries => leaderboard?.Entries?.OrderBy(p => p.Pos).AsQueryable<LeaderboardEntry>();

}
