@page "/castle"

<PageTitle>Castle Course</PageTitle>

<div class="mt-5"></div>
<CourseScorecard title="Castle Scorecards" scorecard="@scorecard" individualScores="@indScores" />
<Divider />
<ChicagoPtsResults title="Castle Chicago Points" results="@matches" roundCompleted="@RoundCompleted" />
<Divider />
<IndividualResults title="Castle Daily Individual" results="@indResults" roundCompleted="@RoundCompleted" />
<Divider />
<ClosestToHoleResults title="Castle Closest to Hole" results="@closestToHoleResults" />
<Divider />
<Scats title="Castle Scats" scorecard="@scorecard" scats="@scats" scatStats="@scatStats" />
<Divider />
<DailyMoney title="Castle Money Totals" moneyTotals="@moneyTotals" round="3" />

@code {

    [Inject]
    public IJsonDocumentsDataService dataService { get; set; } = default!;

    private Info info { get; set; } = new Info();
    private IList<DailyIndividualEntry>? indResults { get; set; } = new List<DailyIndividualEntry>();
    private IList<ClosestToHoleEntry>? closestToHoleResults { get; set; } = new List<ClosestToHoleEntry>();
    private IList<ChicagoPtsMatch>? matches { get; set; } = new List<ChicagoPtsMatch>();
    private IList<DailyScatsEntry>? scats { get; set; } = new List<DailyScatsEntry>();
    private DailyScatStats? scatStats { get; set; } = new DailyScatStats();
    private Scorecard scorecard { get; set; } = new Scorecard();
    private IList<IndividualScores> indScores { get; set; } = new List<IndividualScores>();
    private IList<MoneyTotalEntry>? moneyTotals = new List<MoneyTotalEntry>();

    private string key = "castle";
    private int roundNumber = 3;

    protected override async Task OnInitializedAsync()
    {
        info = await dataService.GetInfoAsync();
        indResults = await dataService.GetDailyIndividualAsync(key);
        closestToHoleResults = await dataService.GetClosestToHoleAsync(key);
        matches = await dataService.GetChicagoPtsAsync(key);
        scats = await dataService.GetDailyScatsAsync(key);
        scatStats = await dataService.GetDailyScatStatsAsync(key);
        scorecard = await dataService.GetScorecardAsync(key);
        indScores = await dataService.GetIndividualScoresAsync(key);
        moneyTotals = await dataService.GetMoneyTotalsAsync();
    }

    private bool RoundCompleted => info.RoundsCompleted >= roundNumber;

}
