@page "/castle"

<PageTitle>Castle Course</PageTitle>

<div class="mt-5"></div>
<CourseScorecard title="Castle Scores" round="Round 3" scorecard="@scorecard" individualScores="@indScores" />
<Divider />
<IndividualResults title="Castle Daily Individual" results="@indResults" />
<Divider />
<ClosestToHoleResults title="Castle Closest to Hole" results="@closestToHoleResults" />
<Divider />
<ChicagoPtsResults title="Castle Chicago Points" results="@matches" />
<Divider />
<Scats title="Castle Scats" round="Round 3" scorecard="@scorecard" scats="@scats" scatStats="@scatStats" />


@code {

    [Inject]
    public IDataService dataService { get; set; } = default!;

    private IList<DailyIndividualEntry>? indResults { get; set; } = new List<DailyIndividualEntry>();
    private IList<ClosestToHoleEntry>? closestToHoleResults { get; set; } = new List<ClosestToHoleEntry>();
    private IList<ChicagoPtsMatch>? matches { get; set; } = new List<ChicagoPtsMatch>();
    private IList<DailyScatsEntry>? scats { get; set; } = new List<DailyScatsEntry>();
    private DailyScatStats? scatStats { get; set; } = new DailyScatStats();
    private Scorecard scorecard { get; set; } = new Scorecard();
    private IList<IndividualScores> indScores { get; set; } = new List<IndividualScores>();

    private string key = "castle";

    protected override async Task OnInitializedAsync()
    {
        indResults = await dataService.GetDailyIndividualAsync(key);
        closestToHoleResults = await dataService.GetClosestToHoleAsync(key);
        matches = await dataService.GetChicagoPtsAsync(key);
        scats = await dataService.GetDailyScatsAsync(key);
        scatStats = await dataService.GetDailyScatStatsAsync(key);
        scorecard = await dataService.GetScorecardAsync(key);
        indScores = await dataService.GetIndividualScoresAsync(key);
    }
}
