@page "/dumbarnie"

<PageTitle>Dumbarnie</PageTitle>

<div class="mt-5"></div>
<CourseScorecard title="Dumbarnie Scorecards" round="Round 2" scorecard="@scorecard" individualScores="@indScores" />
<Divider />
<MatchPlayResults title="Dumbarnie Match Play" results="@matches" roundCompleted="@RoundCompleted" />
<Divider />
<IndividualResults title="Dumbarnie Daily Individual" results="@indResults" roundCompleted="@RoundCompleted" />
<Divider />
<ClosestToHoleResults title="Dumbarnie Closest to Hole" results="@closestToHoleResults" />
<Divider />
<Scats title="Dumbarnie Scats" round="Round 2" scorecard="@scorecard" scats="@scats" scatStats="@scatStats" />


@code {

    [Inject]
    public IJsonDocumentsDataService dataService { get; set; } = default!;

    private Info info { get; set; } = new Info();
    private IList<DailyIndividualEntry>? indResults { get; set; } = new List<DailyIndividualEntry>();
    private IList<ClosestToHoleEntry>? closestToHoleResults { get; set; } = new List<ClosestToHoleEntry>();
    private IList<MatchPlayMatch>? matches { get; set; } = new List<MatchPlayMatch>();
    private IList<DailyScatsEntry>? scats { get; set; } = new List<DailyScatsEntry>();
    private DailyScatStats? scatStats { get; set; } = new DailyScatStats();
    private Scorecard scorecard { get; set; } = new Scorecard();
    private IList<IndividualScores> indScores { get; set; } = new List<IndividualScores>();

    private string key = "dumbarnie";
    private int roundNumber = 2;

    protected override async Task OnInitializedAsync()
    {
        info = await dataService.GetInfoAsync();
        indResults = await dataService.GetDailyIndividualAsync(key);
        closestToHoleResults = await dataService.GetClosestToHoleAsync(key);
        matches = await dataService.GetMatchPlayAsync(key);
        scats = await dataService.GetDailyScatsAsync(key);
        scatStats = await dataService.GetDailyScatStatsAsync(key);
        scorecard = await dataService.GetScorecardAsync(key);
        indScores = await dataService.GetIndividualScoresAsync(key);
    }

    private bool RoundCompleted => info.RoundsCompleted >= roundNumber;
}
