@page "/leaderboard"

<PageTitle>Leaderboard</PageTitle>

@if (leaderboard == null)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <div class="mt-5"></div>
    <MudSimpleTable Dense="@true" Bordered="@true" Style="width:40rem">
        <thead>
            <tr>
                <th class="tableheader" colspan="10">Leaderboard</th>
            </tr>
            <tr>
                <th class="posCol">Pos</th>
                <th class="nameCol">Name</th>
                <th class="hcpCol">Hcp</th>
                <th class="grossCol">Total</th>
                <th class="netCol">R1</th>
                <th class="netCol">R2</th>
                <th class="netCol">R3</th>
                <th class="netCol">R4</th>
                <th class="netCol">R5</th>
                <th class="moneyCol">$</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in leaderboard.Entries.OrderBy(e => e.Pos))
            {
                <tr>
                    <td class="posCol">@Utilities.DisplayPos(entry.Pos)</td>
                    <td class="nameCol">@entry.Name</td>
                    <td class="hcpCol">@entry.Hcp</td>
                    <td class="totalCol @Utilities.NetClass(entry.Total)">@(leaderboard.RoundsCompleted > 0 ? Utilities.DisplayNet(entry.Pos, entry.Total) : "")</td>
                    <td class="netCol @Utilities.NetClass(entry.Round1)">@(leaderboard.RoundsCompleted > 0 ? Utilities.DisplayNet(entry.Pos, entry.Round1) : "")</td>
                    <td class="netCol @Utilities.NetClass(entry.Round2)">@(leaderboard.RoundsCompleted > 1 ? Utilities.DisplayNet(entry.Pos, entry.Round2) : "")</td>
                    <td class="netCol @Utilities.NetClass(entry.Round3)">@(leaderboard.RoundsCompleted > 2 ? Utilities.DisplayNet(entry.Pos, entry.Round3) : "")</td>
                    <td class="netCol @Utilities.NetClass(entry.Round4)">@(leaderboard.RoundsCompleted > 3 ? Utilities.DisplayNet(entry.Pos, entry.Round4) : "")</td>
                    <td class="netCol @Utilities.NetClass(entry.Round5)">@(leaderboard.RoundsCompleted > 4 ? Utilities.DisplayNet(entry.Pos, entry.Round5) : "")</td>
                    <td class="moneyCol">@Utilities.DisplayWinnings(entry.Winnings)</td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
}

@code {
    [Inject]
    public IDataService dataService { get; set; } = default!;

    private Leaderboard? leaderboard;


    protected override async Task OnInitializedAsync()
    {
        leaderboard = await dataService.GetLeaderboardAsync();
    }

}
