@page "/roster"

<PageTitle>Roster</PageTitle>

@if(roster == null)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <div class="mt-5"></div>
    <MudSimpleTable Class="roster" Dense="@true" Bordered="@true">
        <thead>
            <tr>
                <th class="tableheader" colspan="6">Roster</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>R1 Hcp</th>
                <th>R2 Hcp</th>
                <th>R3 Hcp</th>
                <th>R4 Hcp</th>
                <th>R5 Hcp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in roster)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>@player.Hcp</td>
                    <td>@(player.Day2Hcp > 0 ? player.Day2Hcp : "")</td>
                    <td>@(player.Day3Hcp > 0 ? player.Day3Hcp : "")</td>
                    <td>@(player.Day4Hcp > 0 ? player.Day4Hcp : "")</td>
                    <td>@(player.Day5Hcp > 0 ? player.Day5Hcp : "")</td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>

}

@code {
    [Inject]
    public IDataService dataService { get; set; } = default!;


    private IList<RosterEntry>? roster;

    protected override async Task OnInitializedAsync()
    {
        roster = await dataService.GetRosterAsync();
    }

}
