@page "/roster"

<PageTitle>Roster</PageTitle>

<h3>Roster</h3>

@if(roster == null)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <MudSimpleTable Dense="@true" Bordered="@true" Style="width:40rem">
        <thead>
            <tr>
                <th>Name</th>
                <th>Day 1 Hcp</th>
                <th>Day 2 Hcp</th>
                <th>Day 3 Hcp</th>
                <th>Day 4 Hcp</th>
                <th>Day 5 Hcp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in roster)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>@player.Hcp</td>
                    <td>@(player.Day2Hcp > 0 ? player.Day2Hcp : "")</td>
                    <td>@(player.Day3Hcp > 0 ? player.Day3Hcp : "")</td>
                    <td>@(player.Day4Hcp > 0 ? player.Day4Hcp : "")</td>
                    <td>@(player.Day5Hcp > 0 ? player.Day5Hcp : "")</td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>

}

@code {
    [Inject]
    public IDataService dataService { get; set; } = default!;


    private IList<RosterEntry>? roster;

    protected override async Task OnInitializedAsync()
    {
        roster = await dataService.GetRosterAsync();
    }

}
