
@if (results == null)
{
    <ResultsNotPosted />
}
else
{
    <MudSimpleTable Dense="true" Bordered="true" Outlined="@true" Style="@TableWidth">
        <thead>
            <tr>
                <th class="tableheader" colspan="26" @onclick="(_ => expanded = !expanded)">
                    @title 
                    <MudIcon Icon="@ExpansionIcon" Size="Size.Medium"/>
                </th>
            </tr>
            <tr>

                <th class="posCol">Pos</th>

                <th class="nameCol">Players</th>
                <th class="hcpCol">Hcp</th>
                @if (expanded)
                {
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th class="grossCol">Front</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                    <th class="grossCol">Back</th>
                }
                <th class="grossCol">Total</th>
                <th class="netCol">Net</th>
                <th class="moneyCol">$</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in results.OrderBy(r => r.Team.Pos))
            {
                <tr class=@($"{result.TeamName}")>

                    <td class="posCol" rowspan="3">@Utilities.DisplayPos(result.Team.Pos)</td>

                    <td class=@($"{result.TeamName} nameCol")>@result.Player1.Name</td>
                    <td class=@($"{result.TeamName} hcpCol")>@result.Player1.Hcp</td>
                    @if(expanded)
                    {
                        <td>@Utilities.DisplayGross(result.Player1.Hole1)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Hole2)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Hole3)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Hole4)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Hole5)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Hole6)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Hole7)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Hole8)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Hole9)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Front)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Hole10)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Hole11)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Hole12)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Hole13)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Hole14)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Hole15)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Hole16)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Hole17)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Hole18)</td>
                        <td>@Utilities.DisplayGross(result.Player1.Back)</td>
                    }
                    <td>@Utilities.DisplayGross(result.Player1.Total)</td>
                    <td class=@($"netCol {Utilities.NetClass(result.Player1.Net)}")>@Utilities.NetDisplay(result.Player1.Net)</td>
                    <td class="moneyCol" rowspan="3">@Utilities.DisplayWinnings(result.Team.Winnings)</td>
                </tr>
                <tr class=@($"{result.TeamName}")>
                    <td class=@($"{result.TeamName} nameCol")>@result.Player2.Name</td>
                    <td class=@($"{result.TeamName} hcpCol")>@result.Player2.Hcp</td>

                     @if(expanded)
                    {
                        <td>@Utilities.DisplayGross(result.Player2.Hole1)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Hole2)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Hole3)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Hole4)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Hole5)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Hole6)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Hole7)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Hole8)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Hole9)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Front)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Hole10)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Hole11)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Hole12)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Hole13)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Hole14)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Hole15)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Hole16)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Hole17)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Hole18)</td>
                        <td>@Utilities.DisplayGross(result.Player2.Back)</td>
                    }
                    <td>@Utilities.DisplayGross(result.Player2.Total)</td>
                    <td class=@($"netCol {Utilities.NetClass(result.Player2.Net)}")>@Utilities.NetDisplay(result.Player2.Net)</td>

                </tr>
                <tr class=@($"{result.TeamName}")>
                    <td colspan="2">Best Ball Net</td>
                    @if(expanded)
                    {
                        <td>@Utilities.DisplayGross(result.Team.Hole1)</td>
                        <td>@Utilities.DisplayGross(result.Team.Hole2)</td>
                        <td>@Utilities.DisplayGross(result.Team.Hole3)</td>
                        <td>@Utilities.DisplayGross(result.Team.Hole4)</td>
                        <td>@Utilities.DisplayGross(result.Team.Hole5)</td>
                        <td>@Utilities.DisplayGross(result.Team.Hole6)</td>
                        <td>@Utilities.DisplayGross(result.Team.Hole7)</td>
                        <td>@Utilities.DisplayGross(result.Team.Hole8)</td>
                        <td>@Utilities.DisplayGross(result.Team.Hole9)</td>
                        <td>@Utilities.DisplayGross(result.Team.Front)</td>
                        <td>@Utilities.DisplayGross(result.Team.Hole10)</td>
                        <td>@Utilities.DisplayGross(result.Team.Hole11)</td>
                        <td>@Utilities.DisplayGross(result.Team.Hole12)</td>
                        <td>@Utilities.DisplayGross(result.Team.Hole13)</td>
                        <td>@Utilities.DisplayGross(result.Team.Hole14)</td>
                        <td>@Utilities.DisplayGross(result.Team.Hole15)</td>
                        <td>@Utilities.DisplayGross(result.Team.Hole16)</td>
                        <td>@Utilities.DisplayGross(result.Team.Hole17)</td>
                        <td>@Utilities.DisplayGross(result.Team.Hole18)</td>
                        <td>@Utilities.DisplayGross(result.Team.Back)</td>
                    }
                    <td>@Utilities.DisplayGross(result.Team.Pos, result.Team.Total)</td>
                    <td class=@($"netCol {Utilities.NetClass(result.Team.Net)}")>@Utilities.DisplayNet(result.Team.Pos, result.Team.Net)</td>

                </tr>
            }
        </tbody>

    </MudSimpleTable>
}

@code {
    [Parameter, EditorRequired] public string title { get; set; } = string.Empty;
    [Parameter, EditorRequired] public IList<BestBallNetTeam>? results { get; set; } = new List<BestBallNetTeam>();
    [Parameter, EditorRequired] public bool roundCompleted { get; set; }

    private bool expanded = false;

    private string TableWidth => expanded ? "" : "width: 30rem;";

    private string ExpansionIcon => expanded ? Icons.Material.Filled.KeyboardDoubleArrowLeft : Icons.Material.Filled.KeyboardDoubleArrowRight;

    private bool ResultsPosted => results != null && results.Sum(r => r.Team.Pos) > 0;

}
