
@if (results == null)
{
    <ResultsNotPosted />
}
else
{
    <MudSimpleTable Dense="true" Bordered="true" Style="width:60rem">
        <thead>
             <tr>
                <th class="tableheader" colspan="14">@title</th>
            </tr>
           <tr>
                <th colspan="3">Matches</th>
                <th colspan="8">Points</th>
                <th colspan="3">Money</th>
            </tr>
            <tr>
                <th>#</th>
                <th class="nameCol">Players</th>
                <th class="hcpCol">Hcp</th>
                <th>Front</th>
                <th>Back</th>
                <th>Total</th>
                <th>Goal</th>
                <th>Net</th>
                <th>Team</th>
                <th>Goal</th>
                <th>Net</th>
                <th>18</th>
                <th>Team</th>
                <th class="moneyCol">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in results)
            {
                <tr class="chicagopts">
                    <td rowspan="4">@match.MatchNumber</td>
                    <td class="team1 nameCol">@match.Team1.Player1.Name</td>
                    <td class="team1 hcpCol">@match.Team1.Player1.Hcp</td>
                    <td rowspan="2">@DisplayPts(match.Team1.Team.Front)</td>
                    <td rowspan="2">@DisplayPts(match.Team1.Team.Back)</td>
                    <td rowspan="2">@DisplayPts(match.Team1.Team.Total)</td>
                    <td rowspan="2">@match.Team1.Team.Goal</td>
                    <td rowspan="2">@DisplayPts(match.Team1.Team.Net)</td>
                    <td rowspan="2">@DisplayPts(TotalTeamPoints(1))</td>
                    <td rowspan="2">@TotalTeamGoal(1)</td>
                    <td rowspan="2">@DisplayPts(TotalTeamNet(1))</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team1.Player1.Money18)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team1.Player1.MoneyTeam)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team1.Player1.MoneyTotal)</td>
                </tr>
                <tr class="chicagopts">
                    <td class="team1 nameCol">@match.Team1.Player2.Name</td>
                    <td class="team1 hcpCol">@match.Team1.Player2.Hcp</td>
                </tr>

                <tr class="chicagopts">
                    <td class="team2 nameCol">@match.Team2.Player1.Name</td>
                    <td class="team2 hcpCol">@match.Team2.Player1.Hcp</td>
                    <td rowspan="2">@DisplayPts(match.Team2.Team.Front)</td>
                    <td rowspan="2">@DisplayPts(match.Team2.Team.Back)</td>
                    <td rowspan="2">@DisplayPts(match.Team2.Team.Total)</td>
                    <td rowspan="2">@match.Team2.Team.Goal</td>
                    <td rowspan="2">@DisplayPts(match.Team2.Team.Net)</td>
                    <td rowspan="2">@DisplayPts(TotalTeamPoints(2))</td>
                    <td rowspan="2">@TotalTeamGoal(2)</td>
                    <td rowspan="2">@DisplayPts(TotalTeamNet(2))</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team2.Player1.Money18)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team2.Player1.MoneyTeam)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team2.Player1.MoneyTotal)</td>
                </tr>
                <tr class="chicagopts">
                    <td class="team2 nameCol">@match.Team2.Player2.Name</td>
                    <td class="team2 hcpCol">@match.Team2.Player2.Hcp</td>
                </tr>
            }
        </tbody>

    </MudSimpleTable>
}

@code {
    [Parameter, EditorRequired] public string title { get; set; } = string.Empty;
    [Parameter, EditorRequired] public IList<ChicagoPtsMatch>? results { get; set; } = new List<ChicagoPtsMatch>();
    [Parameter, EditorRequired] public bool roundCompleted { get; set; } 


    private double TotalTeamPoints(int teamNumber) => teamNumber switch
    {
        1 => results?.Sum(m => m.Team1.Team.Total) ?? 0,
        2 => results?.Sum(m => m.Team2.Team.Total) ?? 0,
        _ => 0
    };
    
    private double TotalTeamGoal(int teamNumber) => teamNumber switch
    {
        1 => results?.Sum(m => m.Team1.Team.Goal) ?? 0,
        2 => results?.Sum(m => m.Team2.Team.Goal) ?? 0,
        _ => 0
    };

    private double TotalTeamNet(int teamNumber) => teamNumber switch
    {
        1 => results?.Sum(m => m.Team1.Team.Net) ?? 0,
        2 => results?.Sum(m => m.Team2.Team.Net) ?? 0,
        _ => 0
    };

    private string DisplayPts(double pts) => roundCompleted ? pts.ToString() : "";

    private bool ResultsPosted => results != null;

}
