
@if (results == null)
{
    <ResultsNotPosted />
}
else
{
    <MudSimpleTable Class="dailyIndResults" Dense="true" Bordered="true">
        <thead>
            <tr>
                <th class="tableheader" colspan="6">@title</th>
            </tr>
            <tr>
                <th class="posCol">Pos</th>
                <th class="nameCol">Name</th>
                <th class="hcpCol">Hcp</th>
                <th class="grossCol">Score</th>
                <th class="netCol">Net</th>
                <th class="moneyCol">$</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in SortedResults())
            {
                <tr class="dailyind">
                    <td class="posCol">@Utilities.DisplayPos(result.Pos)</td>
                    <td class="nameCol">@result.Name</td>
                    <td class="hcpCol">@result.Hcp</td>
                    <td class="grossCol">@Utilities.DisplayGross(result.Pos, result.Gross)</td>
                    <td class="netCol @Utilities.NetClass(result.Net)">@Utilities.DisplayNet(result.Pos, result.Net)</td>
                    <td class="moneyCol">@Utilities.DisplayWinnings(result.Winnings)</td>
                </tr>
            }
        </tbody>

    </MudSimpleTable>
}

@code {
    [Parameter, EditorRequired] public IList<DailyIndividualEntry>? results { get; set; } = new List<DailyIndividualEntry>();
    [Parameter] public string title { get; set; } = string.Empty;
    [Parameter] public bool roundCompleted { get; set; }


    private bool ResultsPosted => results != null && results.Sum(r => r.Pos) > 0;

    private IList<DailyIndividualEntry> SortedResults()
    {
        if(results == null)
            return new List<DailyIndividualEntry>();
        
        return roundCompleted ? results.OrderBy(r => r.Pos).ToList() : results.OrderBy(r => r.TeeSlot).ToList();
    }

}
