
@if (results == null || !ResultsPosted)
{
    <ResultsNotPosted />
}
else
{
    <MudSimpleTable Class="matchPlay" Dense="true" Bordered="true">
        <thead>
             <tr>
                <th class="tableheader" colspan="13">@title</th>
            </tr>
           <tr>
                <th colspan="4">Matches</th>
                <th colspan="2">Front</th>
                <th colspan="2">Back</th>
                <th colspan="2">18</th>
                <th colspan="2">4-Man Team</th>
                <th></th>
            </tr>
            <tr>
                <th>#</th>
                <th class="nameCol">Players</th>
                <th class="hcpCol">Hcp</th>
                <th class="hcpCol">Strokes</th>
                <th>Pts</th>
                <th>$</th>
                <th>Pts</th>
                <th>$</th>
                <th>Pts</th>
                <th>$</th>
                <th>Pts</th>
                <th>$</th>
                <th class="moneyCol">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in results)
            {
                <tr class="matchplay">
                    <td rowspan="4">@match.MatchNumber</td>
                    <td class="team1 nameCol">@match.Team1.Player1.Name</td>
                    <td class="team1 hcpCol">@match.Team1.Player1.Hcp</td>
                    <td class="team1 hcpCol">@match.Team1.Player1.Strokes</td>
                    <td rowspan="2">@DisplayPts(match.Team1.Points.Front)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team1.Player1.MoneyFront)</td>
                    <td rowspan="2">@DisplayPts(match.Team1.Points.Back)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team1.Player1.MoneyBack)</td>
                    <td rowspan="2">@DisplayPts(match.Team1.Points.Total)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team1.Player1.Money18)</td>
                    <td rowspan="2">@DisplayPts(TotalTeamPoints(1))</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team1.Player1.MoneyTeam)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team1.Player1.MoneyTotal)</td>
                </tr>
                <tr class="matchplay">
                    <td class="team1 nameCol">@match.Team1.Player2.Name</td>
                    <td class="team1 hcpCol">@match.Team1.Player2.Hcp</td>
                    <td class="team1 hcpCol">@match.Team1.Player2.Strokes</td>
                </tr>

                <tr class="matchplay">
                    <td class="team2 nameCol">@match.Team2.Player1.Name</td>
                    <td class="team2 hcpCol">@match.Team2.Player1.Hcp</td>
                    <td class="team2 hcpCol">@match.Team2.Player1.Strokes</td>
                    <td rowspan="2">@DisplayPts(match.Team2.Points.Front)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team2.Player1.MoneyFront)</td>
                    <td rowspan="2">@DisplayPts(match.Team2.Points.Back)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team2.Player1.MoneyBack)</td>
                    <td rowspan="2">@DisplayPts(match.Team2.Points.Total)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team2.Player1.Money18)</td>
                    <td rowspan="2">@DisplayPts(TotalTeamPoints(2))</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team2.Player1.MoneyTeam)</td>
                    <td class="moneyCol" rowspan="2">@Utilities.DisplayWinnings(match.Team2.Player1.MoneyTotal)</td>
                </tr>
                <tr class="matchplay">
                    <td class="team2 nameCol">@match.Team2.Player2.Name</td>
                    <td class="team2 hcpCol">@match.Team2.Player2.Hcp</td>
                    <td class="team2 hcpCol">@match.Team2.Player2.Strokes</td>
                </tr>
            }
        </tbody>

    </MudSimpleTable>
}

@code {
    [Parameter, EditorRequired] public string title { get; set; } = string.Empty;
    [Parameter, EditorRequired] public IList<MatchPlayMatch>? results { get; set; } = new List<MatchPlayMatch>();
    [Parameter, EditorRequired] public bool roundCompleted { get; set; } 

    private double TotalTeamPoints(int teamNumber) => teamNumber switch
    {
        1 => results?.Sum(m => m.Team1.Points.Total) ?? 0,
        2 => results?.Sum(m => m.Team2.Points.Total) ?? 0,
        _ => 0
    };

    private string DisplayPts(double pts) => roundCompleted ? pts.ToString() : "";
    private bool ResultsPosted => results != null;

}
